<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="CT_SupportTestsController">Sitecore.Support.ContentTesting.Requests.Controllers.Optimization.SupportTestsController, Sitecore.Support.478956</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <log4net>
      <root>
        <priority set:value="DEBUG" />
      </root>
    </log4net>
  </sitecore>
</configuration>